/* Here is your custom css styles. */
/* 添加鼠标样式 */
body {
    cursor: url("/medias/img/Arrow.cur"), auto;
}

/* dream展示的图片边角样式 */
.front-img img {
    border-radius: 8px;
}

/* 字体修改 */
@font-face {
    font-family: 'tzy';
    /* 字体名自定义即可 */
    /* src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2'); */
    src: url('https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf');
    /* 字体文件路径 */
    font-display: swap;
}

body, .gitcalendar {
    font-family: tzy !important;
}
